*{
  padding: 0px;
  margin: 0px;
  
}
.group-graph-cards{
  padding: 1rem;
  margin-top: 1rem;
  transform: translateY(-100px);
  margin-bottom:-80px;
}
.group-graph-cards1{
  padding: 1rem;
  margin-top: 1rem;
  transform: translateY(-100px);
  margin-bottom:-115px;
}
.carousel-item-child{
  width:50%;
  display: flex;
  flex-direction: column;
  gap:5px
}
.carousel-indicators {
  display: none;
}
.custom-border-right{
  border-right: 1px solid #D3D3D3;
}
.img-style{
  translate:12px;
}
.row-styling{
  padding: 1rem;
}
@media (max-width:540px){
  .group-graph-cards{
    display: flex;
    flex-direction: column;
    gap:10px
  }
  .carousel-item-child{
    width: 40%;
  }
}
@media (max-width:360px){
  .row-styling{
    padding: 0px;
  }
}



  



